/**

Mini Profile Template

https://templatemo.com/tm-530-mini-profile


Color Codes
------------
brown: #986665;
green: #98cb00;
orange: #cc6733;
blue: #3398cc;
dark-gray: #676767;
light-gray: #999999;
text-gray: #6b6b6b;

*/

html {
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(22, 20, 22);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    overflow-x: hidden;
}

a,
button {
    transition: all 0.3s ease;
}

a:hover {
    text-decoration: none;
}

.container-fluid {
    max-width: 1200px;
}

.tm-bg-black-transparent {
    background-color: rgba(22, 20, 22, 0.55);
    border-radius: 50px;
}

.tm-bg-white-transparent {
    background-color: rgba(10, 10, 10, 0.8);
}

.tm-bg-green {
    background-color: #687ae4;
}

.tm-bg-orange {
    background-color: #cf845f;
}

.tm-bg-blue {
    background-color: #e0d67a;
}

.tm-bg-dark-gray {
    background-color: #cc5b7d;
}


/*
  Welcome section
*/

#tmWelcome {
    position: relative;
    display: flex;
    align-items: center;
}

.tm-brand-container-outer {
    margin-top: -400px;
    margin-right: 650px;
}

.tm-brand-container-inner {
    max-width: 580px;
    width: 100%;
}

.tm-brand-container {
    padding: 75px 110px;
}

.tm-brand-name {
    font-size: 3.8rem;
}

.tm-brand-description {
    font-size: 1.4rem;
}

.parallax-window {
    min-height: 1100px;
    background: transparent;
}

#tmContact {
    min-height: 1197px;
}

.tm-welcome-container {
    min-height: 400px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: stretch;
}

.tm-welcome-title {
    margin-bottom: 40px;
}

.tm-welcome-left {
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.tm-welcome-left-col {
    display: flex;
    align-items: center;
}

.tm-welcome-right {
    color: white;
    background-color: #67bd56;
    margin-top: 5%;
    padding: 40px 20px 20px;
    height: 90%;
    border-radius: 50px;
}

.tm-welcome-icon {
    margin-bottom: 50px;
    display: block;
    text-align: left;
}


/*
  Portfolio section
*/

#tmPortfolio {
    padding-top: 80px;
}

.tm-portfolio-item {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}

.tm-portfolio-name {
    width: 330px;
    height: 220px;
    font-size: 2rem;
    padding: 70px 95px;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 50px;
}

.tm-portfolio-description {
    width: calc(100% - 330px);
    padding: 20px 45px;
}

.tm-portfolio-description h3 {
    margin-bottom: 20px;
}

.tm-text-green {
    color: #687ae4;
}

.tm-text-orange {
    color: #cf845f;
}

.tm-text-blue {
    color: #e0d67a;
}

.tm-text-dark-gray {
    color: #cc5b7d;
}

.tm-title-small {
    font-size: 1.3rem;
}

p {
    line-height: 1.8;
}

.tm-portfolio-last {
    text-align: center;
    background-color: rgb(110, 72, 110);
    max-width: 800px;
    height: 120px;
    list-style: none;
    border-radius: 50px;
    margin: 25px 550px 50px;
}


/*
  Contact section
*/

#tmContact {
    padding-top: 95px;
}

.tm-contact-item {
    width: 33.3334%;
    max-width: 345px;
    height: auto;
    min-height: 420px;
    margin-right: 35px;
    background-color: rgb(22, 20, 22);
    padding: 54px 34px 44px;
    border-radius: 50px;
}

.tm-contact-item:last-child {
    margin-right: 0;
}

.tm-contact-items-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 130px;
}

.tm-contact-item-icon {
    margin-bottom: 45px;
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tmContactForm {
    width: 100%;
    max-width: 680px;
    padding: 45px 45px 30px;
    margin-bottom: 95px;
    margin-left: 250px;
    background-color: rgba(22, 20, 22, 0.95);
    border-radius: 50px;
}

.form-group {
    max-width: 355px;
}

.form-control {
    background: rgba(54, 51, 54, 0.726);
    border-color: rgb(255, 255, 255);
    color: white;
    padding: 15px 10px;
    font-size: 1.1rem;
    margin-bottom: 10px;
    margin-left: 110px;
    text-align: center;
}

.tm-btn-submit {
    background-color: rgb(36, 32, 36);
    padding: 12px 30px;
    font-size: 1.2rem;
}

.tm-btn-submit:focus,
.tm-btn-submit:hover {
    background-color: rgb(14, 12, 14);
}

.tm-copyright-text {
    margin-bottom: 60px;
    padding: 10px;
    border-radius: 50px;
    background-color: rgba(22, 20, 22, 0.95);
    color: white;
}

.tm-link {
    color: #c9c9c9;
}

@media (max-width: 1054px) {
    .tm-contact-item-icon {
        margin-bottom: 15px;
    }
}

@media (max-width: 991px) {
    .tm-contact-items-container {
        flex-direction: column;
    }
    .tm-contact-item {
        width: auto;
        max-width: 680px;
        min-height: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    .tm-contact-item:last-child {
        margin-right: auto;
        margin-bottom: 0;
    }
    #tmContactForm {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 730px) {
    .tm-portfolio-item {
        flex-direction: column;
    }
    .tm-portfolio-name {
        justify-content: center;
    }
    .tm-portfolio-name,
    .tm-portfolio-description {
        width: 100%;
    }
    .tm-portfolio-description {
        padding: 20px 30px;
    }
}

@media (max-width: 572px) {
    .tm-brand-container {
        padding: 45px;
    }
}

@media (max-width: 443px) {
    .tm-brand-name {
        font-size: 3rem;
    }
    .tm-brand-container {
        padding: 25px;
    }
}